# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.python-version

# Virtual environments
.venv/
env/
venv/
ENV/
.ipynb_checkpoints/

# Logs
*.log
logs/
tmp/
kafka-logs*/

# Jupyter
*.ipynb_checkpoints
*.jupyterlab-settings

# Docker
*.pid
*.data
docker-compose.override.yml

# OS / Misc
.DS_Store
Thumbs.db
